<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wolfmobileapps.gofix">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ActivityCraftsmanOFFersHistory"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityCraftsmanOFFersTaken"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityCraftsmanOFFersAll"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityCraftsmanData"
            android:parentActivityName=".ActivityIndustries"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityCraftsmanOfferToSend"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityUserOffers"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityUserHistory"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityCraftsmanAllOrders"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityAdvice"
            android:parentActivityName=".ActivityIndustries"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityInfo"
            android:parentActivityName=".ActivityIndustries"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityUserMain"
            android:parentActivityName=".ActivityIndustries"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityRegistration"
            android:parentActivityName=".ActivityLogin"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityOrderDescription"
            android:parentActivityName=".ActivityIndustries"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityLogin"
            android:parentActivityName=".ActivityIndustries"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityServices"
            android:parentActivityName=".ActivityIndustries"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityIndustries"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccentBrightRed600" />


    </application>






</manifest>