<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wolfmobileapps.gofix">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ActivityCraftsmanOFFersHistory"></activity>
        <activity android:name=".ActivityCraftsmanOFFersTaken" />
        <activity android:name=".ActivityCraftsmanOFFersAll" />
        <activity android:name=".ActivityCraftsmanData"
            android:parentActivityName=".ActivityIndustries"/>
        <activity android:name=".ActivityCraftsmanOfferToSend" />
        <activity android:name=".ActivityUserOffers" />
        <activity android:name=".ActivityUserHistory" />
        <activity android:name=".ActivityCraftsmanAllOrders" />
        <activity
            android:name=".ActivityAdvice"
            android:parentActivityName=".ActivityIndustries" />
        <activity
            android:name=".ActivityInfo"
            android:parentActivityName=".ActivityIndustries" />
        <activity
            android:name=".ActivityUserMain"
            android:parentActivityName=".ActivityIndustries" />
        <activity
            android:name=".ActivityRegistration"
            android:parentActivityName=".ActivityLogin" />
        <activity
            android:name=".ActivityOrderDescription"
            android:parentActivityName=".ActivityIndustries" />
        <activity
            android:name=".ActivityLogin"
            android:parentActivityName=".ActivityIndustries" />
        <activity
            android:name=".ActivityServices"
            android:parentActivityName=".ActivityIndustries" />
        <activity android:name=".ActivityIndustries">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>